html {
  font-size: min(22px, 3vw);
}

.block {
  width: 32rem;
  max-width: 32rem;
}

.flex {
  display: flex;
}

.cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.flexnone {
  flex: none;
}

.flexgrow {
  flex: 1 1 auto;
}

.word {
  display: inline-block;
}

.word + .word {
  margin-left: 0.345rem;
}

.inlineblock {
  display: inline-block;
}

.titlewrapbottom {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: left;
}

.hide {
  display: none;
}

.flexmid {
  display: flex;
  justify-content: space-around;
}

.textl {
  text-align: left;
}

.textm {
  text-align: center;
}

.textr {
  text-align: right;
}

.grid3x3 {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.padl {
  padding-left: 0.25rem;
}

.minwidth {
  min-width: 2rem;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5em;
  color: #111;
  font-variant-numeric: tabular-nums;
  hyphens: auto;
}

.h {
  font-family: "Source Serif Pro", serif;
  font-size: bold;
}

.huge {
  font-size: 1.5rem;
}

.big {
  font-size: 1.2rem;
}

.taghd {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: bold;
}

.err {
  color: crimson;
  font-weight: bold;
}

.sep {
  border-bottom: 1px solid #111;
  padding-bottom: 0.25rem;
}

.buttonshape {
  user-select: none;
  padding: 0 0.25rem;
  text-align: center;
}

.widebuttonshape {
  user-select: none;
  padding: 0 0.5rem;
  text-align: center;
}

.buttoncolor {
  background-color: #111;
  color: #fff;
  opacity: 65%;
}

.off {
  opacity: 30%;
}

.buttonselect {
  cursor: pointer;
  transition: all 0.15s ease;
}

.buttonselect:hover {
  opacity: 100%;
}

.buttonerror {
  background-color: crimson;
}

.tinybr {
  margin-top: 0.125rem;
}

.smallbr {
  margin-top: 0.25rem;
}

.medbr {
  margin-top: 0.5rem;
}

.bigbr {
  margin-top: 1.5rem;
}

.secbr {
  margin-top: 4rem;
}

.fold {
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  transition: all 0.15s ease-out;
}

.entry > .disp:hover:not(.hide) {
  outline: 0.5px solid #111;
  cursor: pointer;
}

.edit {
  background-color: #eee;
  color: #111;
  padding: 0 0.25rem;
  text-align: left;
  hyphens: none;
}

.shieldicon {
  position: relative;
  top: 0.15em;
  height: 0.9em;
  margin: 0 0.11rem 0 0.15rem;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
}

.example {
  font-size: 0.85em;
  line-height: 1.4em;
  padding-left: 1em;
}

ul {
  list-style-type: circle;
  padding-left: 1rem;
}

table {
  font-size: 0.85rem;
  line-height: 1.35rem;
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

td {
  padding: 0 0.25rem;
}
