html {
  font-size: min(20px, 3.2vw);
}

.block {
  width: 30rem;
  max-width: 30rem;
}

.cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.flexnone {
  flex: none;
}

.word {
  display: inline-block;
}

.word + .word {
  margin-left: 0.345rem;
}

.inlineblock {
  display: inline-block;
}

.titlewrapbottom {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: left;
}

.hide {
  display: none;
}

.flexmid {
  display: flex;
  justify-content: space-around;
}

.textm {
  text-align: center;
}

.textr {
  text-align: right;
}

html {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5em;
  color: #111;
}

.h {
  font-family: "DM Serif Display", serif;
}

.huge {
  font-size: 1.5rem;
}

.big {
  font-size: 1.2rem;
}

.inlinehd {
  text-transform: uppercase;
  letter-spacing: 0.035em;
  font-weight: bold;
}

.runin {
  text-transform: capitalize;
  font-weight: bold;
}

.emph {
  font-weight: bold;
}

.err {
  color: crimson;
  font-weight: bold;
}

.sep {
  border-bottom: 1px solid #111;
}

.buttoncol {
  background-color: #666;
  color: #fff;
  user-select: none;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

.buttonsel {
  cursor: pointer;
}

.buttonsel:hover {
  background-color: #111;
}

.lvbuttonwidth {
  width: 4rem;
}

.keywordbuttonwidth {
  width: 4.75rem;
}

.smallbr {
  margin-top: 0.25rem;
}

.medbr {
  margin-top: 0.5rem;
}

.bigbr {
  margin-top: 1.5rem;
}

.smallpadbottom {
  padding-bottom: 0.25rem;
}

.entry > .disp:hover:not(.hide) {
  outline: 0.5px solid #666;
}

h2 {
  margin-top: 7rem;
}

textarea {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5em;
  color: #111;
  font-size: 1rem;
  background-color: #fff;
  outline: none;
  border: 0.5px solid #666;
  resize: none;
  color: #111;
}
